<!-- JQuery may conflict with Bootstrap, they said -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>
          if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/js/jquery.min.js%22%3E%3C/script%3E'));
          };
        </script>
      <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster 
        http://encosia.com/3-reasons-why-you-should-let-google-host-jquery-for-you/
        http://stackoverflow.com/questions/26192897/should-i-use-bootstrap-from-cdn-or-make-a-copy-on-my-server
      -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <!-- Google Analitics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '#####TU ZMIENIC######', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- Google Knowledge Graph -->
    {% if page.layout == 'Post' %}
    {% capture post_tags %}{% for tag in page.tags %}{{ tag }}, {% endfor %}{% endcapture %}
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "author": "{{ page.author }}",
          "name": "{{ page.title }}",
          "articleSection": "{{ post_tags | append:'-' | remove_first: ', -' }}",
          "datePublished": "{{ page.date | date:'%Y-%m-%d' }}",
          "headline": "{{ page.excerpt }}",
          {% if page.image == null %}
          "image": "{{ site.url }}/media/blog/in-flagellis-clean.png"
          {% else %}
          "image": "{{ site.url }}/media/blog/{{ page.image }}"
          {% endif %}
        }
        </script>
    {% else %}
        <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Person",
          "name" : "{{ page.author }}",
          "jobTitle": "Harpist",
          "image": "{{ site.url }}/media/TU_ZMIENIC.jpg",
          "affiliation": "TU_ZMIENIC",
          "url" : "{{ site.url }}{{ page.url | remove:'index.html' }}",
          "sameAs" : [
            "https://plus.google.com/TUZMIENIC",
            "https://twitter.com/TUZMIENIC",
            "https://www.facebook.com/TUZMIENIC",
            "https://soundcloud.com/TUZMIENIC",
            "https://github.com/s2426",
          ]
        }
        </script>
    {% endif %}